
<div class="footer">



<div class="footer-block">
    <div>
        <ul>
            <li><span><img class="footerlogoImg" src="assets/IDrive_logo_white.svg" alt="logo" srcset=""></span></li>
            <li>Sign Up</li>
            <li>Features</li>
            <li>Download</li>
            <li>Pricing Plans</li>
            <li>Security </li>
            <li>Educational Offer</li>
            <li>Blog</li>
            <li>Idrive vs Competition</li>
        </ul>
    </div>

    <div>
       
        <ul>
            <li class="titleinfooter">NAS Backup</li>
            <li>Synology Backup</li>
            <li>Qnap Backup</li>
            
        </ul>
    </div>
</div>

<div class="footer-block">
    <div>
        
        <ul>
            <li class="titleinfooter">Products</li>
            <li>iPhone, iPad, Android Backup</li>
            <li>Linux Backup</li>
            <li>IDrive BMR</li>
            <li>Disk Clone</li>
           
        </ul>
    </div>

    <div>
        
        <ul>
            <li class="titleinfooter"> Server Cloud Backup</li>
            <li>SQL Server</li>
            <li>Exchange Server</li>
            <li>VMWare</li>
            <li>Hyper-v</li>
            <li>SharePoint Server </li>
            <li>Oracle Server</li>
           
        </ul>
    </div>
</div>


<div class="footer-block">
    <div>
        
        <ul>
            <li class="titleinfooter">Features</li>
            <li>Multiple Device Online Backup</li>
            <li>Small Business</li>
            <li>Manage Computer via Web</li>
            <li>Snapshots</li>
            <li>True Archieving </li>
            <li>IDrive Backtrack</li>
           
        </ul>
    </div>

    <div>
        
        <ul>
            <li class="titleinfooter">Services</li>
            <li>Reseller</li>
            <li>IDrive Express</li>
            <li>Business Compliance</li>
            
        </ul>
    </div>
</div>

<div class="footer-block">
    <div>
        
        <ul>
            <li class="titleinfooter">Resources</li>
            <li>Support</li>
            <li>FAQs</li>
            <li>Video Tutorials</li>
            <li>Corporate</li>
            <li>IDrive Ventures </li>
            <li>Press Releases</li>
            <li>Reviews</li>
            <li>Legal</li>
        </ul>
    </div>

</div>

</div>