.mainformdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(239, 238, 238);
}


.tabContent{
    width: 100%;
}

.formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
.tabContent .formContainer form {
    /* border: 1px solid blue; */
    width: 60%;
    background: white; /* Set background color for the form */
    padding: 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
}

.formContainer .form-row{
    width: 48%;
}


 .formContainer input[type="email"],
 .formContainer input[type="text"],
 .formContainer input[type="tel"],
 .formContainer select,
 .formContainer textarea {
   width: calc(100% - 10px); /* Set width for form fields */
   margin-right: 10px; /* Add spacing between form fields */
   margin-bottom: 10px; /* Add spacing at the bottom of form fields */
   padding: 10px; /* Add padding */
   border: none; /* Remove border */
   background-color: #f9f9f9; /* Set background color */
   border-radius: 5px; /* Add border radius */
   box-sizing: border-box; /* Ensure correct box sizing */
   margin-top: 6px;
 }
 
 .formContainer textarea {
   width: calc(200% - 10px); /* Set width for textarea */
 }
 
 .formContainer label {
   display: block; /* Set labels to block display for proper alignment */
   font-weight: bold; /* Make labels bold */
 }
 
 .formContainer button {
   width: 100%; /* Set button width to fill the form container */
   padding: 10px; /* Add padding */
   background-color: rgb(74, 74, 162); /* Set button background color */
   color: white; /* Set text color */
   border: none; /* Remove border */
   border-radius: 5px; /* Add border radius */
   cursor: pointer; /* Add cursor pointer */
 }
 
 .formContainer button:hover {
   background-color: rgb(38, 38, 148); /* Darker background color on hover */
 }
 

.tab{
    border-radius: 5px;
    display: flex;
    margin-top: 10px;
}

.tab ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.tab li {
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;    
}
.Tab li:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }
  .tab li.active {
    background-color: white;
    border-bottom:4px solid rgb(74, 74, 162);
    font-weight: 500;
    color: rgb(38, 38, 148);
}