<div class="formContainer">

    <div class="innerFormcontainer">
        <div class="tab">
            <ul>
                <li [class.active]="activeTabIndex === 0" (click)="handleTabClick(0)">IDrive User</li>
                <li [class.active]="activeTabIndex === 1" (click)="handleTabClick(1)">IDrive Reseller</li>
                <li [class.active]="activeTabIndex === 2" (click)="handleTabClick(2)">IDrive Bulk Reseller</li>
            </ul>
        </div>


        <div class="tabContent">
            hello
        </div>



    </div>


    <!-- IDrive User tab content -->
    <!-- -->


</div>

<!-- cards -->
<!-- 
<div class="card">
    <div class="card-header">
      Resources
    </div>
    <div class="card-body">
      <div class="half">
        <div class="row">
          <div class="logo"></div>
          Video Tutorial
        </div>
        <div class="row">
          <div class="logo"></div>
          Data Sheet
        </div>
      </div>
      <div class="half">
        <div class="row">
          <div class="logo"></div>
          White Paper
        </div>
        <div class="row">
          <div class="logo"></div>
          Safe Render
        </div>
      </div>
    </div>
  </div> -->