<div class="maindiv">
  <div class="container">
    <div class="Navbar">
      <span>
        <img src="assets/IDrive_logo_white.svg" alt="logo.png">
      </span>

      <ul>
        <li>About us</li>
        <li>Products</li>
        <li>Career ar IDrive</li>
        <li>Contact Us</li>
        <li>Blog</li>
      </ul>
    </div>
    <hr class="hr">
    <h2 class="iDroveTitle">IDrive Support</h2>
  </div>

  <div class="card">
    <div class="cardfirstSection">
      <h2 class="cardtitle">If you have any questions, reach out to us here:</h2>
      <div class="sectionforpink">
        <div class="Countriesdiv">
          <div class="country">
            <span class="countrytitle">USA</span>
            <span class="count">2.36565632</span>
          </div>
          <div class="country">
            <span class="countrytitle">UK</span>
            <span class="count">2.36565632</span>
          </div>
          <div class="country">
            <span class="countrytitle">Other Countries</span>
            <span class="count">2.36565632</span>
          </div>
        </div>

        <div class="Supportdiv">
          <span>
            Technical support available 24/7 - call us anytime!
          </span>
          <span>
            Billing and Sales: Monday-Friday 6:00 AM to 6:00 PM PST
          </span>
        </div>
      </div>

      <div class="deptExt">
        <div class="deptExtInfo">
          <span class="count">Department Extensions</span>
          <span class="countrytitle">Support: Dial 1</span>
          <span class="countrytitle">Sales: Dial 2</span>
          <span class="countrytitle">Billing inquiries: Dial 3</span>
        </div>
        <div class="dottedLine"></div> <!-- Empty div for dotted line -->
        <div class="deptExtInfo">
          <span class="count">Resellers</span>
          <span class="countrytitle">1-855-410-2116n ext 2</span>
          <span class="countrytitle">Monday - Friday, 6.00 AM To 6.00 Pm PST </span>
          <span class="countrytitle"></span>
        </div>
      </div>

      <div class="contactInfo">
        <p class="conatct">In case you are unable to reach us on the extension for a particular department, dial the
          other
          extension. You can also contact us via email at support@idrive.com, live chat(available 24/7).</p>
      </div>
    </div>

    <div class="cardSecondSection">
      <img src="assets/women.png" alt="woman.png" srcset="">
    </div>
  </div>

</div>



<div class="container2">
  <app-form2></app-form2>
</div>


<div class="container3">
  <app-cards-container></app-cards-container>
</div>


<div class="container4">
  <app-footer></app-footer>
</div>