
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
}

.Navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    flex-wrap: wrap;
}


.Navbar li {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin-left: 70px;
}
.hr{
    border-color: #a7a5a5;
}
.Navbar img {
    width: 100px;
    height: 40px;  
}

.maindiv{
    position: relative;
}

.card {
    display: flex;
    flex-direction: row; 
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    width: 70%;
    border-radius: 25px;
}
.container {
    background: rgb(0,85,181);
    background: linear-gradient(176deg, rgba(0,85,181,1) 0%, rgb(152, 75, 239) 100%);
    padding: 20px;
    border: 1px solid blue;
    border-radius: 5px;
    position: relative; /*  relative positioning */
    overflow: hidden; /*  overflow content */
    height: 71vh;
}

.sectionforbelowCard{
    margin-top: 100px;
}

.container2{
    width: 100%;
    height: 40vh;
    margin-top: 200px;
 
}

.container3{
    width: 100%;
    margin-top: 300px;
    padding: 50px;
}

.iDroveTitle{
    color: white;
    font-weight: 500;
    margin-top: 70px;
    margin-left: 192px;
    font-size: 31px;
}
.cardtitle{
    color: rgb(49, 49, 111);
    font-weight: 400;
    margin: 25px;
}

.card  .cardfirstSection{
    width: 70%;
}
.Countriesdiv{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 0 20px 20px 0;
   
}

.country{
    display: flex;
    flex-direction: column;
    border-right: 1px dotted #080808; /*  vertical dotted line */
    padding-right: 10px; /*  some space between text and line */
    margin-right: 70px; /*  some space between countries */
  }
  
  .country:last-child {
    border-right: none; /* Remove border-right from the last country */
  }

.Supportdiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
    padding: 20px;
    
}
.sectionforpink{
    background-color: rgb(249, 220, 225);
    border-radius: 0 20px 20px 0;
}

.countrytitle{
    color: rgb(49, 49, 111);
}
.count{
    color: rgb(230, 55, 55);
}
.cardSecondSection {
    position: absolute;
    top: -100px; /* Adjust this value to position the image slightly above the card */
    left: 80%;
    transform: translateX(-50%);
    z-index: 1;  /* Center horizontally */
  }
  
  .cardSecondSection img {
    width: 351px; /* Adjust the width as needed */
    height: auto;
    border-radius: 5px;
  }
.deptExt {
    display: flex;
    justify-content: space-between; /* Align items to the left and right */
    align-items: center;
    height: auto;
    border-radius: 0 20px 20px 0;
    padding: 20px;
  
}

.deptExtInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    text-align: left; /* Align text to the left */
    margin-bottom: 20px;
    font-size: 14px;
    width: 50%; /* Set width to take half of the container */
    border-right: 1px dotted #010101;
    padding-right:30px;
    margin-right: 10px;
}
.deptExtInfo:last-child {
    border-right: none; /* Remove border-right from the last country */
}
.conatct{
    font-size: 14px;
}
.contactInfo{
     margin-top: auto;
}
.dottedLine {
    border-right: 1px dotted #ccc; /* Dotted line style */
    height: 100%; /* Match the height of the container */
    margin: 0 20px; /* Adjust the spacing between the line and text */
  }
  .formContainer {
    background: rgb(239, 238, 238);
    display: flex;
    justify-content: center;
    margin-top: 150px;
    height: 50vh;
        width: 100%; /* Make the container full-width */

}
.tab{
    border-radius: 5px;
    display: flex;
    
}

.tab ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #ff4a4a; /* Add bottom border */


}


.tab li {
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    
}
.Tab li:hover {
    background-color: #f0f0f0; /* Change background color on hover */
  }